<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apgcecil.mileage"
    android:versionCode="3"
    android:versionName="1.0.2" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/mileage_ic"
        android:label="@string/app_name" android:debuggable="false">
        <activity
            android:name=".MileageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MileagePrefsActivity" android:label="@string/pref_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>