<?xml version="1.0" encoding="utf-8"?>
<!--
  (c) Copyright 2012 by Andrew Gascoyne-Cecil
  
  This file is part of Mileage.
 
  Mileage is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Mileage is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Mileage.  If not, see <http://www.gnu.org/licenses/>.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apgcecil.mileage"
    android:versionCode="7"
    android:versionName="1.0.6" >

    <uses-sdk />
    <permission
        android:name=".WRITE_PERMISSION"
        android:description="@string/permission_desc"
        android:label="@string/permission_label"
        android:protectionLevel="signature" >
    </permission>
    <permission
        android:name=".READ_PERMISSION"
        android:description="@string/permission_desc"
        android:label="@string/permission_label"
        android:protectionLevel="signature" >
    </permission>
    
    <application
        android:icon="@drawable/mileage_ic"
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity
            android:name=".MileageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MileagePrefsActivity" android:label="@string/pref_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <provider 
            android:name=".MileageProvider"
            android:readPermission="com.apgcecil.mileage.READ_PERMISSION"
            android:writePermission="com.apgcecil.mileage.WRITE_PERMISSION"
            android:authorities="com.apgcecil.mileage.MileageProvider"	>
        </provider>
    </application>

</manifest>